<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/abc.css"/>
    <title>Title</title>
</head>
<body>
<form >
    <input type="text" name="mark">
    <button formmethod="post" th:formaction="${'/cars/filter/resulttoch'}" type="submit">Точный поиск</button>
    <button formmethod="post" th:formaction="${'/cars/filter/resultnetochn'}" type="submit">Неточный поиск</button>
    <div th:each="el : ${result}">
        <h3 th:text="${el.getMark()}"></h3>
        <p th:text="${el.getVladelec()}"></p>
        <p th:text="${el.isPolom()}"></p>
        <p th:text="${el.getAge()}"></p>
        <p th:text="${el.getProbeg()}"></p>
    </div>
</form>
</body>
</html>