<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/abc.css"/>
    <title>Title</title>
</head>
<body>
<div th:each="el : ${cars}">
  <h3>Подробнее про машину: </h3>
  <h3 th:text="${el.getMark()}"></h3>
  <p th:text="${el.getVladelec()}"></p>
  <p th:text="${el.isPolom()}"></p>
  <p th:text="${el.getAge()}"></p>
  <p th:text="${el.getProbeg()}"></p>
  <a th:href="'/cars/' + ${el.id} + '/edit'">Редактировать</a>
  <form th:action="'/cars/' + ${el.id} + '/remove'" method="post">
    <button type="submit" class="btn btn-del">Удалить</button>
  </form>
</div>
</body>
</html>