<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="${'/students/add'}" method="post">
    <div><input type="text" name="surname" placeholder="Фамилия"></div>
    <div><input type="text" name="name" placeholder="Имя"></div>
    <div><input type="text" name="otchestvo" placeholder="Отчество"></div>
    <div><input type="text" name="group" placeholder="Группа"></div>
    <div><input type="number" name="age" placeholder="Возраст"></div>
    <br>
    <button type="submit">Добавить студента</button>
</form>
</body>
</html>